@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
